# Pourquoi et comment

**Objectif** : recueillir les pnn (càd les identifiants IdRef) des contributeurs à la revue.

**Démarche** : 
1) Structurer la des prénoms / noms avec colonnes "NOM"et "Prenom"
2) Générer l'url idRef pour chaque nom. paramètres utilisées:
    * 
3) Extraire le nbr d'occurences du nom 

**Documentation**: Recours à l'API SolR<a href = "http://documentation.abes.fr/aideidrefdeveloppeur/index.html"> abes </a>

In [1]:
import re
import pandas as pd
import csv
import numpy as np 
import requests
from bs4 import BeautifulSoup
import lxml

## 1. Structurer la liste des nom/prénoms

In [2]:
with open ("../BSPE/Membres_SPE/Liste-Noms-Contributeurs.csv") as contributeurs:
    df_contributeurs = pd.read_csv(contributeurs)

In [3]:
df_contributeurs

         NOM (Prenom)
0        ACHALME (P.)
1           ADDE (R.)
2          AHMED (E.)
3          ALARY (A.)
4    ALLAIN (Jacques)
..                ...
658    YVERNAULT (A.)
659         YVON (P.)
660         ZABOLOTNY
661      ZAMMIT (TH.)
662        ZUCCARELLI

[663 rows x 1 columns]

In [4]:
## Séparer NOM et Prénom : 

#Nouvelle colonne pour le NOM => .iloc[i,1]
df_contributeurs["NOM"] = df_contributeurs.apply(lambda _: '', axis=1)
#Nouvelle colonne pour le PRENOM => .iloc[i,2]
df_contributeurs["Prenom"] = df_contributeurs.apply(lambda _: '', axis=1)


#Regex NOM (Prénom)
reNom = r'([-\'A-zÀ-ÿ]+((-| |\’)[A-zÀ-ÿ]+)?)( \(.*)?'
rePrenom = r'\((.*)(\.)?\)'

for i in range(len(df_contributeurs)):
    
    df_contributeurs.iloc[i,1] = re.search(reNom,df_contributeurs.iloc[i,0]).group(1)
    Prenom = re.search(rePrenom,df_contributeurs.iloc[i,0])
    if Prenom:
        Prenom2=re.sub(r' {1,2}',"",Prenom.group(1))
        df_contributeurs.iloc[i,2]=Prenom2

In [5]:
df_contributeurs

         NOM (Prenom)         NOM   Prenom
0        ACHALME (P.)     ACHALME       P.
1           ADDE (R.)        ADDE       R.
2          AHMED (E.)       AHMED       E.
3          ALARY (A.)       ALARY       A.
4    ALLAIN (Jacques)      ALLAIN  Jacques
..                ...         ...      ...
658    YVERNAULT (A.)   YVERNAULT       A.
659         YVON (P.)        YVON       P.
660         ZABOLOTNY   ZABOLOTNY
661      ZAMMIT (TH.)      ZAMMIT      TH.
662        ZUCCARELLI  ZUCCARELLI

[663 rows x 3 columns]

In [6]:
df_contributeurs.iloc[158,1]

'D’HÉRELLE'

## 2. Générer les url idref et le entrer dans le df

In [7]:
#Ajout de colonnes au df pour les url. 
df_contributeurs = df_contributeurs.reindex(columns = df_contributeurs.columns.tolist() + ['Recherche_G_t','Recherche_NomPrenom_t'])
RechercheG = []
RechercheNOMPrenom =[]

In [8]:
for i in range(len(df_contributeurs)):
#     print(df_contributeurs.iloc[i,0])
    NOM=df_contributeurs.iloc[i,1]
    Prenom=df_contributeurs.iloc[i,2]
    
    #Paramétrage : 
    ## => recordtype_z :h (càd Auteur Titre)
    
    
    if re.search(r'(.*)' '(.*)',NOM):#Si nom composé. Ex : "DE MAURICOURT"
        NOM2=NOM.replace(' ','%20AND%20')
        
        if Prenom:

            #url générale:
            df_contributeurs.iloc[i,3]="https://www.idref.fr/Sru/Solr?q=persname_t:"+NOM2+"%20"+Prenom+"&sort=score%20desc&version=2.2&start=0&rows=30&indent=on&fl=id,ppn_z,recordtype_z:h,affcourt_z"
            RechercheG.append(df_contributeurs.iloc[i,3])

            #url NOM AND Prenom:
            df_contributeurs.iloc[i,4] ="https://www.idref.fr/Sru/Solr?q=persname_t:("+NOM2+"%20AND%20"+Prenom+")&sort=score%20desc&version=2.2&start=0&rows=30&indent=on&fl=id,ppn_z,recordtype_z:h,affcourt_z"
            RechercheNOMPrenom.append(df_contributeurs.iloc[i,4])
        
        else :
            #url générale:
            df_contributeurs.iloc[i,3]="https://www.idref.fr/Sru/Solr?q=persname_t:"+NOM2+"&sort=score%20desc&version=2.2&start=0&rows=30&indent=on&fl=id,ppn_z,recordtype_z:h,affcourt_z"
            RechercheG.append(df_contributeurs.iloc[i,3])
            
            #url NOM AND Prenom : 
            df_contributeurs.iloc[i,4] ="https://www.idref.fr/Sru/Solr?q=persname_t:("+NOM2+")&sort=score%20desc&version=2.2&start=0&rows=30&indent=on&fl=id,ppn_z,recordtype_z:h,affcourt_z"
            RechercheNOMPrenom.append(df_contributeurs.iloc[i,4])
    
    else :
        if Prenom:

            #url générale:
            df_contributeurs.iloc[i,3]="https://www.idref.fr/Sru/Solr?q=persname_t:"+NOM+"%20"+Prenom+"&sort=score%20desc&version=2.2&start=0&rows=30&indent=on&fl=id,ppn_z,recordtype_z:h,affcourt_z"
            RechercheG.append(df_contributeurs.iloc[i,3])

            #url NOM AND Prenom:
            df_contributeurs.iloc[i,4] ="https://www.idref.fr/Sru/Solr?q=persname_t:("+NOM+"%20AND%20"+Prenom+")&sort=score%20desc&version=2.2&start=0&rows=30&indent=on&fl=id,ppn_z,recordtype_z:h,affcourt_z"
            RechercheNOMPrenom.append(df_contributeurs.iloc[i,4])
        
        else :
            #url générale:
            df_contributeurs.iloc[i,3]="https://www.idref.fr/Sru/Solr?q=persname_t:"+NOM+"&sort=score%20desc&version=2.2&start=0&rows=30&indent=on&fl=id,ppn_z,recordtype_z:h,affcourt_z"
            RechercheG.append(df_contributeurs.iloc[i,3])
            
            #url NOM AND Prenom : 
            df_contributeurs.iloc[i,4] ="https://www.idref.fr/Sru/Solr?q=persname_t:("+NOM+")&sort=score%20desc&version=2.2&start=0&rows=30&indent=on&fl=id,ppn_z,recordtype_z:h,affcourt_z"
            RechercheNOMPrenom.append(df_contributeurs.iloc[i,4])

In [9]:
df_contributeurs

,NOM (Prenom),NOM,Prenom,Recherche_G_t,Recherche_NomPrenom_t
0,ACHALME (P.),ACHALME,P.,https://www.idref.fr/Sru/Solr?q=persname_t:ACH...,https://www.idref.fr/Sru/Solr?q=persname_t:(AC...
1,ADDE (R.),ADDE,R.,https://www.idref.fr/Sru/Solr?q=persname_t:ADD...,https://www.idref.fr/Sru/Solr?q=persname_t:(AD...
2,AHMED (E.),AHMED,E.,https://www.idref.fr/Sru/Solr?q=persname_t:AHM...,https://www.idref.fr/Sru/Solr?q=persname_t:(AH...
3,ALARY (A.),ALARY,A.,https://www.idref.fr/Sru/Solr?q=persname_t:ALA...,https://www.idref.fr/Sru/Solr?q=persname_t:(AL...
4,ALLAIN (Jacques),ALLAIN,Jacques,https://www.idref.fr/Sru/Solr?q=persname_t:ALL...,https://www.idref.fr/Sru/Solr?q=persname_t:(AL...
...,...,...,...,...,...
658,YVERNAULT (A.),YVERNAULT,A.,https://www.idref.fr/Sru/Solr?q=persname_t:YVE...,https://www.idref.fr/Sru/Solr?q=persname_t:(YV...
659,YVON (P.),YVON,P.,https://www.idref.fr/Sru/Solr?q=persname_t:YVO...,https://www.idref.fr/Sru/Solr?q=persname_t:(YV...
660,ZABOLOTNY,ZABOLOTNY,,https://www.idref.fr/Sru/Solr?q=persname_t:ZAB...,https://www.idref.fr/Sru/Solr?q=persname_t:(ZA...
661,ZAMMIT (TH.),ZAMMIT,TH.,https://www.idref.fr/Sru/Solr?q=persname_t:ZAM...,https://www.idref.fr/Sru/Solr?q=persname_t:(ZA...
662,ZUCCARELLI,ZUCCARELLI,,https://www.idref.fr/Sru/Solr?q=persname_t:ZUC...,https://www.idref.fr/Sru/Solr?q=persname_t:(ZU...

## 3. Chercher s'il existe au moins une notice associée à l'url idref

Méthode : pour chaque url chercher la valeur de l'attribut numFound dans l'elt <result>
\    
`<result name="response" numFound="0" start="0"/>`

In [10]:
df_contributeurs = df_contributeurs.reindex(columns = df_contributeurs.columns.tolist() + ['Recherche_G-nbr','Recherche_NomPrenom-nbr'])

In [11]:
df_contributeurs

,NOM (Prenom),NOM,Prenom,Recherche_G_t,Recherche_NomPrenom_t,Recherche_G-nbr,Recherche_NomPrenom-nbr
0,ACHALME (P.),ACHALME,P.,https://www.idref.fr/Sru/Solr?q=persname_t:ACH...,https://www.idref.fr/Sru/Solr?q=persname_t:(AC...,NaN,NaN
1,ADDE (R.),ADDE,R.,https://www.idref.fr/Sru/Solr?q=persname_t:ADD...,https://www.idref.fr/Sru/Solr?q=persname_t:(AD...,NaN,NaN
2,AHMED (E.),AHMED,E.,https://www.idref.fr/Sru/Solr?q=persname_t:AHM...,https://www.idref.fr/Sru/Solr?q=persname_t:(AH...,NaN,NaN
3,ALARY (A.),ALARY,A.,https://www.idref.fr/Sru/Solr?q=persname_t:ALA...,https://www.idref.fr/Sru/Solr?q=persname_t:(AL...,NaN,NaN
4,ALLAIN (Jacques),ALLAIN,Jacques,https://www.idref.fr/Sru/Solr?q=persname_t:ALL...,https://www.idref.fr/Sru/Solr?q=persname_t:(AL...,NaN,NaN
...,...,...,...,...,...,...,...
658,YVERNAULT (A.),YVERNAULT,A.,https://www.idref.fr/Sru/Solr?q=persname_t:YVE...,https://www.idref.fr/Sru/Solr?q=persname_t:(YV...,NaN,NaN
659,YVON (P.),YVON,P.,https://www.idref.fr/Sru/Solr?q=persname_t:YVO...,https://www.idref.fr/Sru/Solr?q=persname_t:(YV...,NaN,NaN
660,ZABOLOTNY,ZABOLOTNY,,https://www.idref.fr/Sru/Solr?q=persname_t:ZAB...,https://www.idref.fr/Sru/Solr?q=persname_t:(ZA...,NaN,NaN
661,ZAMMIT (TH.),ZAMMIT,TH.,https://www.idref.fr/Sru/Solr?q=persname_t:ZAM...,https://www.idref.fr/Sru/Solr?q=persname_t:(ZA...,NaN,NaN
662,ZUCCARELLI,ZUCCARELLI,,https://www.idref.fr/Sru/Solr?q=persname_t:ZUC...,https://www.idref.fr/Sru/Solr?q=persname_t:(ZU...,NaN,NaN

# 3. Extraire le nombre d'occurences du nom selon le type de recherche

In [12]:
def IdRef_numfound_auteur (col):
    list_numfound_IdRef = []

    for url in col:
        r = requests.get(url)
        xml = r.text
        #print(r.text)

        soup = BeautifulSoup(xml,'lxml')
        eltResult = soup.find_all('result')

        for att in eltResult:
            attnumFound = att.get("numfound")

        list_numfound_IdRef.append(attnumFound)
    
    return list_numfound_IdRef

#<result name="response" numFound="0" start="0"/>

In [13]:
col = df_contributeurs["Recherche_G_t"]
df_contributeurs["Recherche_G-nbr"] = IdRef_numfound_auteur(col)

In [14]:
df_contributeurs

,NOM (Prenom),NOM,Prenom,Recherche_G_t,Recherche_NomPrenom_t,Recherche_G-nbr,Recherche_NomPrenom-nbr
0,ACHALME (P.),ACHALME,P.,https://www.idref.fr/Sru/Solr?q=persname_t:ACH...,https://www.idref.fr/Sru/Solr?q=persname_t:(AC...,4,NaN
1,ADDE (R.),ADDE,R.,https://www.idref.fr/Sru/Solr?q=persname_t:ADD...,https://www.idref.fr/Sru/Solr?q=persname_t:(AD...,27,NaN
2,AHMED (E.),AHMED,E.,https://www.idref.fr/Sru/Solr?q=persname_t:AHM...,https://www.idref.fr/Sru/Solr?q=persname_t:(AH...,3628,NaN
3,ALARY (A.),ALARY,A.,https://www.idref.fr/Sru/Solr?q=persname_t:ALA...,https://www.idref.fr/Sru/Solr?q=persname_t:(AL...,77,NaN
4,ALLAIN (Jacques),ALLAIN,Jacques,https://www.idref.fr/Sru/Solr?q=persname_t:ALL...,https://www.idref.fr/Sru/Solr?q=persname_t:(AL...,364,NaN
...,...,...,...,...,...,...,...
658,YVERNAULT (A.),YVERNAULT,A.,https://www.idref.fr/Sru/Solr?q=persname_t:YVE...,https://www.idref.fr/Sru/Solr?q=persname_t:(YV...,16,NaN
659,YVON (P.),YVON,P.,https://www.idref.fr/Sru/Solr?q=persname_t:YVO...,https://www.idref.fr/Sru/Solr?q=persname_t:(YV...,854,NaN
660,ZABOLOTNY,ZABOLOTNY,,https://www.idref.fr/Sru/Solr?q=persname_t:ZAB...,https://www.idref.fr/Sru/Solr?q=persname_t:(ZA...,2,NaN
661,ZAMMIT (TH.),ZAMMIT,TH.,https://www.idref.fr/Sru/Solr?q=persname_t:ZAM...,https://www.idref.fr/Sru/Solr?q=persname_t:(ZA...,33,NaN
662,ZUCCARELLI,ZUCCARELLI,,https://www.idref.fr/Sru/Solr?q=persname_t:ZUC...,https://www.idref.fr/Sru/Solr?q=persname_t:(ZU...,25,NaN

In [15]:
df_contributeurs.iloc[2,4]

'https://www.idref.fr/Sru/Solr?q=persname_t:(AHMED%20AND%20E.)&sort=score%20desc&version=2.2&start=0&rows=30&indent=on&fl=id,ppn_z,recordtype_z:h,affcourt_z'

In [16]:
col = df_contributeurs["Recherche_NomPrenom_t"]
df_contributeurs["Recherche_NomPrenom-nbr"] = IdRef_numfound_auteur(col)

In [17]:
df_contributeurs

,NOM (Prenom),NOM,Prenom,Recherche_G_t,Recherche_NomPrenom_t,Recherche_G-nbr,Recherche_NomPrenom-nbr
0,ACHALME (P.),ACHALME,P.,https://www.idref.fr/Sru/Solr?q=persname_t:ACH...,https://www.idref.fr/Sru/Solr?q=persname_t:(AC...,4,0
1,ADDE (R.),ADDE,R.,https://www.idref.fr/Sru/Solr?q=persname_t:ADD...,https://www.idref.fr/Sru/Solr?q=persname_t:(AD...,27,0
2,AHMED (E.),AHMED,E.,https://www.idref.fr/Sru/Solr?q=persname_t:AHM...,https://www.idref.fr/Sru/Solr?q=persname_t:(AH...,3628,15
3,ALARY (A.),ALARY,A.,https://www.idref.fr/Sru/Solr?q=persname_t:ALA...,https://www.idref.fr/Sru/Solr?q=persname_t:(AL...,77,0
4,ALLAIN (Jacques),ALLAIN,Jacques,https://www.idref.fr/Sru/Solr?q=persname_t:ALL...,https://www.idref.fr/Sru/Solr?q=persname_t:(AL...,364,5
...,...,...,...,...,...,...,...
658,YVERNAULT (A.),YVERNAULT,A.,https://www.idref.fr/Sru/Solr?q=persname_t:YVE...,https://www.idref.fr/Sru/Solr?q=persname_t:(YV...,16,0
659,YVON (P.),YVON,P.,https://www.idref.fr/Sru/Solr?q=persname_t:YVO...,https://www.idref.fr/Sru/Solr?q=persname_t:(YV...,854,4
660,ZABOLOTNY,ZABOLOTNY,,https://www.idref.fr/Sru/Solr?q=persname_t:ZAB...,https://www.idref.fr/Sru/Solr?q=persname_t:(ZA...,2,2
661,ZAMMIT (TH.),ZAMMIT,TH.,https://www.idref.fr/Sru/Solr?q=persname_t:ZAM...,https://www.idref.fr/Sru/Solr?q=persname_t:(ZA...,33,0
662,ZUCCARELLI,ZUCCARELLI,,https://www.idref.fr/Sru/Solr?q=persname_t:ZUC...,https://www.idref.fr/Sru/Solr?q=persname_t:(ZU...,25,25

# 4. Exploration des résultats

In [18]:
df_contributeurs.max()

NOM (Prenom)                                                      ZUCCARELLI
NOM                                                               ZUCCARELLI
Prenom                                                                   ÉT.
Recherche_G_t              https://www.idref.fr/Sru/Solr?q=persname_t:ZUC...
Recherche_NomPrenom_t      https://www.idref.fr/Sru/Solr?q=persname_t:(ZU...
Recherche_G-nbr                                                           99
Recherche_NomPrenom-nbr                                                    9
dtype: object

In [19]:
df_contributeurs.to_csv("IdRef_BSPE.tsv", sep="\t")

In [20]:
df_contributeurs.describe()

,NOM (Prenom),NOM,Prenom,Recherche_G_t,Recherche_NomPrenom_t,Recherche_G-nbr,Recherche_NomPrenom-nbr
count,663,663,663,663,663,663,663
unique,657,596,152,656,656,239,66
top,HENRY (A.),CLAPIER,A.,https://www.idref.fr/Sru/Solr?q=persname_t:HEN...,https://www.idref.fr/Sru/Solr?q=persname_t:(LE...,0,0
freq,2,4,86,2,2,79,373

## Pour Recherche_G

In [21]:
df_General = df_contributeurs[['NOM (Prenom)','Recherche_G-nbr']]

In [22]:
df_General["Recherche_G-nbr"].astype(int).describe()

count      663.000000
mean       758.110106
std       3328.115022
min          0.000000
25%          4.000000
50%         26.000000
75%        149.000000
max      29200.000000
Name: Recherche_G-nbr, dtype: float64

In [24]:
L_G40={}
L_Gover40={}
L_G1=[]
L_G0=[]


for i in range (len(df_contributeurs)):
    occ = int(df_contributeurs.iloc[i,5])
    if occ in range(2,40) :
        auteur = df_contributeurs.iloc[i,0]
        L_G40[auteur]=occ
    if occ >= 40 :
        auteur = df_contributeurs.iloc[i,0]
        L_Gover40[auteur]=occ
    elif occ == 1:
        auteur = df_contributeurs.iloc[i,0]
        L_G1.append(auteur)
    elif occ == 0:
        auteur = df_contributeurs.iloc[i,0]
        L_G0.append(auteur)
print("nombre d'auteurs ayant entre 2 et 40 occurences dansIdRef : ",len(L_G40))

print("nombre d'auteurs ayant 1 seule occurence dansIdRef : ",len(L_G1))

print("nombre d'auteurs ayant 0 occurence dansIdRef : ",len(L_G0))


print("\n\n\n")

print("liste des auteurs ayant entre 2 et 40 occurences dans IdRef",L_G40)
print("\n\n")
print("liste des auteurs ayant 1 seule occurence dans IdRef",L_G40)
print("\n\n")
print("liste des auteurs ayant 0 occurence dans IdRef",L_G0)

nombre d'auteurs ayant entre 2 et 40 occurences dansIdRef :  267
nombre d'auteurs ayant 1 seule occurence dansIdRef :  25
nombre d'auteurs ayant 0 occurence dansIdRef :  79




liste des auteurs ayant entre 2 et 40 occurences dans IdRef {'ACHALME (P.)': 4, 'ADDE (R.)': 27, 'ANFREVILLE (Léon D’)': 5, 'ARDOIN (E.)': 36, 'ARGAUD (R.)': 21, 'ARLO (J.)': 16, 'ARROUX': 2, 'ARZT (L.)': 13, 'ATHIAS (G.)': 22, 'AUDAIN (L.)': 8, 'BABAULT (G.)': 18, 'BACMANN (A.)': 3, 'BALOZET (L.)': 2, 'BARTET (A.)': 13, 'BARTET()': 13, 'BAUCHE (J.)': 30, 'BAUJEAN (R.)': 3, 'BAYEUX (R.)': 29, 'BEAUJEAN (R.)': 39, 'BÉCLÊRE': 4, 'BEGUET (M.)': 18, 'BEGUET()': 18, 'BELLEVAL (G.)': 12, 'BENOIT-GONIN': 9, 'BEQUAERT (J.)': 4, 'BIENASSIS (E.)': 6, 'BIJON (R.)': 17, 'BILLIEMAZ (A.)': 6, 'BIZARD': 27, 'BLAIZOT (L.)': 31, 'BLANQUIER (H.)': 4, 'BOSSAVY (F.)': 6, 'BOTREAU-ROUSSEL': 6, 'BOUILLIEZ (M.)': 6, 'BRÉMONT (E.)': 33, 'BRIMONT (E.)': 10, 'BRODEN (A.)': 4, 'BRUG (S.-L.)': 31, 'BRUMPT (Emile)': 5, 'BRUYANT (L.)': 23, 'CALINESCU (J.)': 8, 'CALMETTE (A.)': 35, 'CAMPUS (A.)': 21, 'CANTACUZÈNE (J.)': 18, 'CARDEW (A.G.)': 11, 'CARINI (A.)': 38, 'CARONIA (G.)': 5, 'CATOUILLARD (G.)': 2, 'CAUCHEMEZ (L.)': 3, 'CAZALBOU (L.)': 6, 'CERTAIN (B.)': 32, 'CHANTEMESSE (A.)': 8, 'CHATTON (Edouard)': 24, 'CIUCA (A.)': 12, 'CIUCA (M.)': 12, 'CLAPIER': 24, 'CLAPIER (N.)': 24, 'CLAPIER (P.)': 24, 'CLAPIER. (P. N.)': 24, 'CLARENC (H.)': 8, 'COMMES (CH.)': 3, 'CORIN (G.)': 24, 'COUREUR (CH.)': 4, 'COUTEAUD': 4, 'COUVY (L.)': 3, 'COUVY(L.)': 3, 'CROWELL (P.-C.)': 36, 'CUENOD (A.)': 17, 'CURASSON (G )': 2, 'CURASSON (G.)': 2, 'DANYSZ (J.)': 13, 'DEGREEF (G.)': 7, 'DEMIDOFF (A.-P.)': 11, 'DENIER (A.)': 36, 'DERRIEU (G.)': 4, 'DESCAZEAUX (J.)': 12, 'DEVY': 22, 'DISTASO (A.)': 5, 'DOPTER (CH.)': 3, 'DOREAU (P.)': 29, 'DUBRUEL (C.M.E.)': 10, 'ESCOMEL (E.)': 8, 'ESPÉRANDIEU (G.)': 16, 'ESQUIER (A.)': 11, 'FEYTAUD (J.)': 5, 'FLOURENS': 19, 'FONTOYNONT (M.)': 3, 'FOSSEY (A. M. DE)': 33, 'FRONVILLE (G.)': 8, 'GABBI (U.)': 8, 'GAIDE (L.)': 19, 'GASPERI (F. DE)': 30, 'GASTOU (P.)': 19, 'GAUDUCHEAU (A.)': 19, 'GILRUTH (J.A.)': 2, 'GOUILLON (P.)': 8, 'GOUZIEN (P.)': 14, 'GRANJUX (E.)': 3, 'GREGGIO (Père G.)': 6, 'GRIEWANK (H.)': 2, 'GUYOMARC’H': 27, 'HECKENROTH (F.)': 17, 'HINDLE (EDW.)': 17, 'HOUSSAY (B.A.)': 23, 'HOUSSIAU (J.)': 5, 'HOVASSE': 14, 'HUDELLET (G.)': 2, 'HUSNOT (P.)': 3, 'ISMERT (R.)': 2, 'IWANOFF (Z.A.)': 8, 'JAMOT (E.)': 26, 'JEANSELME (E.)': 10, 'JEMMA (R.)': 24, 'JOUKOWSKY (A.)': 4, 'JOUVEAU-DUBREUIL (H.)': 2, 'KARPOFF (A.N.)': 4, 'KERNÉIS (J.)': 26, 'KOPKE (A)': 20, 'KORNILOFF (M.-T.)': 2, 'KOUN (L.)': 7, 'LAGANE (L.)': 14, 'LAGRIFFOUL (A.)': 7, 'LANGERON (MAURICE)': 32, 'LANZENBERG (A.)': 6, 'LAPIN': 38, 'LAPIN (J.)': 38, 'LARROUSSE (F.)': 10, 'LAUNOY()': 13, 'LAVEAU (M.)': 24, 'LAVERAN (Alphonse)': 4, 'LAVIER (G.)': 13, 'LEBŒUF (A.)': 14, 'LEFROU ()': 5, 'LEGROUX (R.)': 22, 'LETULLE (M.)': 4, 'LEVADITI (C.)': 2, 'LIGNIÈRES (J.)': 23, 'LOSTIE (L.)': 3, 'MANAUD (A.)': 14, 'MANCEAUX (L.)': 26, 'MANDOUL (H.)': 11, 'MANSION (G)': 37, 'MANSION (J.)': 37, 'MARCANDIER (A.)': 5, 'MARCHOUX (Emile)': 3, 'MARULLAZ (M.)': 11, 'MAUCLAIRE': 11, 'MEIRELLES (Z.)': 20, 'MICHAILIDIS (N.)': 25, 'MIGONE (L.-E.)': 5, 'MITTER (S.N.)': 23, 'MOLDOVAN (J.)': 30, 'MONTHUS (A.)': 5, 'MORAX (V.)': 8, 'MORSLY (T.)': 5, 'MOTAIS (FRANÇOIS)': 19, 'MOTAS (C. S.)': 4, 'MOTY (F.)': 6, 'MURAZ()': 9, 'MUTERMILCH (ST.)': 2, 'NEWSTEAD (R.)': 7, 'NICLOT': 16, 'NICLOT (F.)': 16, 'NIMIER': 9, 'NOC (F.)': 13, 'NOGUE (M.)': 32, 'NOVY (F.G.)': 24, 'NUTTAL (H. F.)': 3, 'OLIVEAU (A.)': 14, 'ORTHOLAN': 6, 'ORTICONI (A.)': 6, 'ORTICONI (L)': 6, 'OUZILLEAU (F.)': 4, 'PARANHOS (U.)': 16, 'PARVU': 10, 'PAUCOT (M.)': 6, 'PÉCAUD (G.)': 7, 'PÉJU (G.)': 13, 'PHISALIX (MARIE)': 2, 'PHOTINOS (GEORGES-TH.)': 5, 'PHOTINOS (S.)': 5, 'PIGNET (M.)': 24, 'PINOY (E.)': 4, 'POROT (A.)': 18, 'PORRY (E.)': 6, 'POTTEVIN (H.)': 2, 'PRATES (M.M.)': 17, 'PRIMET (E.)': 9, 'PRIMET()': 9, 'PRINGAULT (E.)': 9, 'PUYHAUBERT(Alfred)': 3, 'RAILLIET (A.)': 3, 'RAVAUT (P.)': 11, 'RAVAUT()': 11, 'REMLINGER (P.)': 6, 'RÉPIN (CH.)': 6, 'RHODAIN (J.)': 2, 'RIGOLLET()': 38, 'RISQUEZ (J.-R.)': 7, 'RIZZUTI (G.)': 5, 'ROCQUES (X.)': 16, 'RODHAIN (J.)': 11, 'ROMANOVITCH (M.)': 9, 'ROUFFIANDIS (V.)': 3, 'ROW (R.)': 21, 'RYCKEWAERT (P.)': 26, 'SACQUEPEE (E.)': 6, 'SAKOWITSCH (S.J.)': 2, 'SALIMBENI (A.T.)': 14, 'SALVESTRONI': 3, 'SAMBON (L.)': 5, 'SANLORENZO (F.)': 2, 'SAPORTE (F.)': 2, 'SARRAILHE (A.)': 2, 'SAUVET (CH.)': 19, 'SCHAUMANN (H.)': 27, 'SCHEIN (HENRI)': 35, 'SCHIESS (J.-R.)': 10, 'SCHWETZ (J.)': 4, 'SCORDO (F.)': 2, 'SENEVET (G.)': 2, 'SKRJABIN (K.-J.)': 2, 'SLATINEANO (A.)': 2, 'SMILLIE (WILSON G.)': 13, 'SPAGNUOLO (V.)': 22, 'SPLENDORE (A.)': 2, 'STANESCO (V.)': 9, 'STEFKO (W.)': 3, 'STÉVENEL (L.)': 4, 'SURCOUF (J.)': 27, 'SWAMINATH (G. S.)': 2, 'SWELLENGREBEL (N.-H.)': 3, 'TEISSONNIERE (M.)': 14, 'TEJERA (E.)': 35, 'TENDRON (E.)': 16, 'TEPPAZ (A.)': 5, 'TEPPAZ (L.)': 5, 'THEILER (A.)': 10, 'THÉZÉ (J.)': 20, 'THIROUX (A.)': 19, 'TOUIN()': 4, 'TRIBAUDEAU (J.)': 2, 'TRIBONDEAU (L.)': 16, 'TRIBOUT (A.)': 38, 'TRILLAT()': 24, 'TROUETTE (G.)': 8, 'ULBRICH (H.)': 28, 'VAILLARD': 10, 'VANDENBRANDEN (F.)': 2, 'VELU (A.)': 34, 'VELU (H.)': 34, 'VERNES (A.)': 28, 'VIOLLE (H.)': 25, 'VIOLLE (R.)': 25, 'VISENTINI (A.)': 18, 'WAGON': 15, 'WAGON (P.)': 15, 'WINOGRADOFF (A.A.)': 2, 'WINOGRADOFF (W.W.)': 2, 'WITH': 21, 'YAMANOUCHI (T.)': 13, 'YERSIN (A.)': 16, 'YOFÉ (H.)': 4, 'YVERNAULT (A.)': 16, 'ZABOLOTNY': 2, 'ZAMMIT (TH.)': 33, 'ZUCCARELLI': 25}



liste des auteurs ayant 1 seule occurence dans IdRef {'ACHALME (P.)': 4, 'ADDE (R.)': 27, 'ANFREVILLE (Léon D’)': 5, 'ARDOIN (E.)': 36, 'ARGAUD (R.)': 21, 'ARLO (J.)': 16, 'ARROUX': 2, 'ARZT (L.)': 13, 'ATHIAS (G.)': 22, 'AUDAIN (L.)': 8, 'BABAULT (G.)': 18, 'BACMANN (A.)': 3, 'BALOZET (L.)': 2, 'BARTET (A.)': 13, 'BARTET()': 13, 'BAUCHE (J.)': 30, 'BAUJEAN (R.)': 3, 'BAYEUX (R.)': 29, 'BEAUJEAN (R.)': 39, 'BÉCLÊRE': 4, 'BEGUET (M.)': 18, 'BEGUET()': 18, 'BELLEVAL (G.)': 12, 'BENOIT-GONIN': 9, 'BEQUAERT (J.)': 4, 'BIENASSIS (E.)': 6, 'BIJON (R.)': 17, 'BILLIEMAZ (A.)': 6, 'BIZARD': 27, 'BLAIZOT (L.)': 31, 'BLANQUIER (H.)': 4, 'BOSSAVY (F.)': 6, 'BOTREAU-ROUSSEL': 6, 'BOUILLIEZ (M.)': 6, 'BRÉMONT (E.)': 33, 'BRIMONT (E.)': 10, 'BRODEN (A.)': 4, 'BRUG (S.-L.)': 31, 'BRUMPT (Emile)': 5, 'BRUYANT (L.)': 23, 'CALINESCU (J.)': 8, 'CALMETTE (A.)': 35, 'CAMPUS (A.)': 21, 'CANTACUZÈNE (J.)': 18, 'CARDEW (A.G.)': 11, 'CARINI (A.)': 38, 'CARONIA (G.)': 5, 'CATOUILLARD (G.)': 2, 'CAUCHEMEZ (L.)': 3, 'CAZALBOU (L.)': 6, 'CERTAIN (B.)': 32, 'CHANTEMESSE (A.)': 8, 'CHATTON (Edouard)': 24, 'CIUCA (A.)': 12, 'CIUCA (M.)': 12, 'CLAPIER': 24, 'CLAPIER (N.)': 24, 'CLAPIER (P.)': 24, 'CLAPIER. (P. N.)': 24, 'CLARENC (H.)': 8, 'COMMES (CH.)': 3, 'CORIN (G.)': 24, 'COUREUR (CH.)': 4, 'COUTEAUD': 4, 'COUVY (L.)': 3, 'COUVY(L.)': 3, 'CROWELL (P.-C.)': 36, 'CUENOD (A.)': 17, 'CURASSON (G )': 2, 'CURASSON (G.)': 2, 'DANYSZ (J.)': 13, 'DEGREEF (G.)': 7, 'DEMIDOFF (A.-P.)': 11, 'DENIER (A.)': 36, 'DERRIEU (G.)': 4, 'DESCAZEAUX (J.)': 12, 'DEVY': 22, 'DISTASO (A.)': 5, 'DOPTER (CH.)': 3, 'DOREAU (P.)': 29, 'DUBRUEL (C.M.E.)': 10, 'ESCOMEL (E.)': 8, 'ESPÉRANDIEU (G.)': 16, 'ESQUIER (A.)': 11, 'FEYTAUD (J.)': 5, 'FLOURENS': 19, 'FONTOYNONT (M.)': 3, 'FOSSEY (A. M. DE)': 33, 'FRONVILLE (G.)': 8, 'GABBI (U.)': 8, 'GAIDE (L.)': 19, 'GASPERI (F. DE)': 30, 'GASTOU (P.)': 19, 'GAUDUCHEAU (A.)': 19, 'GILRUTH (J.A.)': 2, 'GOUILLON (P.)': 8, 'GOUZIEN (P.)': 14, 'GRANJUX (E.)': 3, 'GREGGIO (Père G.)': 6, 'GRIEWANK (H.)': 2, 'GUYOMARC’H': 27, 'HECKENROTH (F.)': 17, 'HINDLE (EDW.)': 17, 'HOUSSAY (B.A.)': 23, 'HOUSSIAU (J.)': 5, 'HOVASSE': 14, 'HUDELLET (G.)': 2, 'HUSNOT (P.)': 3, 'ISMERT (R.)': 2, 'IWANOFF (Z.A.)': 8, 'JAMOT (E.)': 26, 'JEANSELME (E.)': 10, 'JEMMA (R.)': 24, 'JOUKOWSKY (A.)': 4, 'JOUVEAU-DUBREUIL (H.)': 2, 'KARPOFF (A.N.)': 4, 'KERNÉIS (J.)': 26, 'KOPKE (A)': 20, 'KORNILOFF (M.-T.)': 2, 'KOUN (L.)': 7, 'LAGANE (L.)': 14, 'LAGRIFFOUL (A.)': 7, 'LANGERON (MAURICE)': 32, 'LANZENBERG (A.)': 6, 'LAPIN': 38, 'LAPIN (J.)': 38, 'LARROUSSE (F.)': 10, 'LAUNOY()': 13, 'LAVEAU (M.)': 24, 'LAVERAN (Alphonse)': 4, 'LAVIER (G.)': 13, 'LEBŒUF (A.)': 14, 'LEFROU ()': 5, 'LEGROUX (R.)': 22, 'LETULLE (M.)': 4, 'LEVADITI (C.)': 2, 'LIGNIÈRES (J.)': 23, 'LOSTIE (L.)': 3, 'MANAUD (A.)': 14, 'MANCEAUX (L.)': 26, 'MANDOUL (H.)': 11, 'MANSION (G)': 37, 'MANSION (J.)': 37, 'MARCANDIER (A.)': 5, 'MARCHOUX (Emile)': 3, 'MARULLAZ (M.)': 11, 'MAUCLAIRE': 11, 'MEIRELLES (Z.)': 20, 'MICHAILIDIS (N.)': 25, 'MIGONE (L.-E.)': 5, 'MITTER (S.N.)': 23, 'MOLDOVAN (J.)': 30, 'MONTHUS (A.)': 5, 'MORAX (V.)': 8, 'MORSLY (T.)': 5, 'MOTAIS (FRANÇOIS)': 19, 'MOTAS (C. S.)': 4, 'MOTY (F.)': 6, 'MURAZ()': 9, 'MUTERMILCH (ST.)': 2, 'NEWSTEAD (R.)': 7, 'NICLOT': 16, 'NICLOT (F.)': 16, 'NIMIER': 9, 'NOC (F.)': 13, 'NOGUE (M.)': 32, 'NOVY (F.G.)': 24, 'NUTTAL (H. F.)': 3, 'OLIVEAU (A.)': 14, 'ORTHOLAN': 6, 'ORTICONI (A.)': 6, 'ORTICONI (L)': 6, 'OUZILLEAU (F.)': 4, 'PARANHOS (U.)': 16, 'PARVU': 10, 'PAUCOT (M.)': 6, 'PÉCAUD (G.)': 7, 'PÉJU (G.)': 13, 'PHISALIX (MARIE)': 2, 'PHOTINOS (GEORGES-TH.)': 5, 'PHOTINOS (S.)': 5, 'PIGNET (M.)': 24, 'PINOY (E.)': 4, 'POROT (A.)': 18, 'PORRY (E.)': 6, 'POTTEVIN (H.)': 2, 'PRATES (M.M.)': 17, 'PRIMET (E.)': 9, 'PRIMET()': 9, 'PRINGAULT (E.)': 9, 'PUYHAUBERT(Alfred)': 3, 'RAILLIET (A.)': 3, 'RAVAUT (P.)': 11, 'RAVAUT()': 11, 'REMLINGER (P.)': 6, 'RÉPIN (CH.)': 6, 'RHODAIN (J.)': 2, 'RIGOLLET()': 38, 'RISQUEZ (J.-R.)': 7, 'RIZZUTI (G.)': 5, 'ROCQUES (X.)': 16, 'RODHAIN (J.)': 11, 'ROMANOVITCH (M.)': 9, 'ROUFFIANDIS (V.)': 3, 'ROW (R.)': 21, 'RYCKEWAERT (P.)': 26, 'SACQUEPEE (E.)': 6, 'SAKOWITSCH (S.J.)': 2, 'SALIMBENI (A.T.)': 14, 'SALVESTRONI': 3, 'SAMBON (L.)': 5, 'SANLORENZO (F.)': 2, 'SAPORTE (F.)': 2, 'SARRAILHE (A.)': 2, 'SAUVET (CH.)': 19, 'SCHAUMANN (H.)': 27, 'SCHEIN (HENRI)': 35, 'SCHIESS (J.-R.)': 10, 'SCHWETZ (J.)': 4, 'SCORDO (F.)': 2, 'SENEVET (G.)': 2, 'SKRJABIN (K.-J.)': 2, 'SLATINEANO (A.)': 2, 'SMILLIE (WILSON G.)': 13, 'SPAGNUOLO (V.)': 22, 'SPLENDORE (A.)': 2, 'STANESCO (V.)': 9, 'STEFKO (W.)': 3, 'STÉVENEL (L.)': 4, 'SURCOUF (J.)': 27, 'SWAMINATH (G. S.)': 2, 'SWELLENGREBEL (N.-H.)': 3, 'TEISSONNIERE (M.)': 14, 'TEJERA (E.)': 35, 'TENDRON (E.)': 16, 'TEPPAZ (A.)': 5, 'TEPPAZ (L.)': 5, 'THEILER (A.)': 10, 'THÉZÉ (J.)': 20, 'THIROUX (A.)': 19, 'TOUIN()': 4, 'TRIBAUDEAU (J.)': 2, 'TRIBONDEAU (L.)': 16, 'TRIBOUT (A.)': 38, 'TRILLAT()': 24, 'TROUETTE (G.)': 8, 'ULBRICH (H.)': 28, 'VAILLARD': 10, 'VANDENBRANDEN (F.)': 2, 'VELU (A.)': 34, 'VELU (H.)': 34, 'VERNES (A.)': 28, 'VIOLLE (H.)': 25, 'VIOLLE (R.)': 25, 'VISENTINI (A.)': 18, 'WAGON': 15, 'WAGON (P.)': 15, 'WINOGRADOFF (A.A.)': 2, 'WINOGRADOFF (W.W.)': 2, 'WITH': 21, 'YAMANOUCHI (T.)': 13, 'YERSIN (A.)': 16, 'YOFÉ (H.)': 4, 'YVERNAULT (A.)': 16, 'ZABOLOTNY': 2, 'ZAMMIT (TH.)': 33, 'ZUCCARELLI': 25}



liste des auteurs ayant 0 occurence dans IdRef ['ANDREANI-CONSTANTINI (MME)', 'ARAVANDINOS (A.)', 'BEKENSKY (P.W.)', 'BELITZER (A.W.)', 'BONNEFAY()', 'CAMBILLET', 'CAMINOPETROS (JEAN)', 'COUENDI (M.)', 'CROVERI (P.)', 'DA MATTA (A.)', 'DANG VAN CUONG', 'DE BERGEVIN (E.)', 'DE BRUN (H.)', 'DE GOYON (J.)', 'DE MOUZON', 'DE VALLANDÉ (H.)', 'DEADERICK (W. H.)', 'DEGOUILLON ()', 'DENARNAUX (P.)', 'DENAVELLE (P.)', 'DI CRISTINA (G.)', 'DOMINICI-URBANI (CH.)', 'DU BOURGUET', 'DUKODGEHÉ (W.)', 'FROILANO DE MELLO()', 'GIOVANNI DI DONIZIO()', 'GONZALEZ MARTINEZ (I.)', 'GONZALEZ-LUGO', 'JAVELLY (E.)', 'KÉRANDEL (J.)', 'KERMOGANT (Alexandre)', 'KERMOGANT (Alexandre)', 'KIWTET DE JONGE (G.-H.)', 'KOBNILOFF (M.-I.)', 'KOHL-YAKIMOFF (Nina)', 'KOLPAKOFF (F.-A.)', 'KOLPAKOFF (T.-A.)', 'KOSELKINE (P.-M.)', 'KOULECHIA', 'KROLUNITZKI (G.)', 'LA CAVA (F.)', 'LALUNG-BONNAIRE (P.)', 'LE DANTEC (A.)', 'LE DENTU (A.)', 'LE GALLEN (R.)', 'MANGENIE (S -E.)', 'MARZINOWSKY (E.-I.)', 'MARZINOWSKY (E.-J.)', 'MELISSIDIS (A.)', 'MESINCESCU (D.)', 'MIGLIANO (L)', 'MIRAMOND DE LA ROQUETTE', 'MOUZELS (P.)', 'NOWIKOFF (P.A.)', 'OLDT (F.)', 'PAMARET()', 'PARFENTJEV ()', 'PAROÏSKY (P.S.)', 'PASTEUR VALLERY-RADOT(Louis)', 'PHINGAULT (E.)', 'PIRAJA DA SILVA', 'QUARELLI (G.)', 'ROUDSKY (D.)', 'RUDRER', 'SAPHRONOWITSCH (R.A.)', 'SCHIRWIND (S.)', 'SCHOKHOR (N.-J.)', 'SÉGUINAUD (J.)', 'SOLOWZOFF (A.-S.)', 'TASHIM (Ibrahim)', 'VAN DEN BRANDEN (F.)', 'VAN HOOF (L.)', 'VAN SACEGHEM (R.)', 'VON KNAFF-LENZ (E.)', 'WACON (P.)', 'WASSILEWSKY (W.J.)', 'YAKIMOFF (A.-S.)', 'YAKIMOFF (W -L )', 'YAKOBLEW']

In [25]:
####### Exploration + détaillée de ceux qui ont 1 seule occurence

dfG1_occ=pd.DataFrame(L_G1)
dfG0_occ=pd.DataFrame(L_G0)
dfG40_occ=pd.DataFrame.from_dict(L_G40,orient='index')
dfGover40_occ=pd.DataFrame.from_dict(L_Gover40,orient='index')

In [26]:
dfG40_occ

                       0
ACHALME (P.)           4
ADDE (R.)             27
ANFREVILLE (Léon D’)   5
ARDOIN (E.)           36
ARGAUD (R.)           21
...                   ..
YOFÉ (H.)              4
YVERNAULT (A.)        16
ZABOLOTNY              2
ZAMMIT (TH.)          33
ZUCCARELLI            25

[267 rows x 1 columns]

In [35]:
dfG40_occ.describe()

                0
count  267.000000
mean    13.262172
std     10.393688
min      2.000000
25%      4.000000
50%     10.000000
75%     20.500000
max     39.000000

In [28]:
dfGover40_occ.nlargest(15,[0])

                       0
ROBERT             29200
ROBERT (Léopold)   29200
ROBERT (M.J.F.)    29200
R. ASSEO)          29070
DAVID              29017
MARTIN (Gustave)   18460
MARTIN (Louis)     18460
MARTIN (Noël)      18460
RICHARD (G.)       18034
BERNARD (P. NOËL)  17175
DANIEL (G.)        16273
NICOLAS (CH.)      15290
NICOLAS (E.)       15290
ANTOINE            11878
LAURENT (A.)       10986

## Groupby : NOM(Prenom)

In [29]:
df_contributeurs["Recherche_NomPrenom-nbr"].astype(int).describe()

count      663.000000
mean       191.327300
std       2053.232144
min          0.000000
25%          0.000000
50%          0.000000
75%          2.000000
max      29200.000000
Name: Recherche_NomPrenom-nbr, dtype: float64

In [31]:
L_NP40={}
L_NPover40={}
L_NP1=[]
L_NP0=[]


for i in range (len(df_contributeurs)):
    occ = int(df_contributeurs.iloc[i,6])
    if occ in range(2,40) :
        auteur = df_contributeurs.iloc[i,0]
        L_NP40[auteur]=occ
    if occ >= 40 :
        auteur = df_contributeurs.iloc[i,0]
        L_NPover40[auteur]=occ
    elif occ == 1:
        auteur = df_contributeurs.iloc[i,0]
        L_NP1.append(auteur)
    elif occ == 0:
        auteur = df_contributeurs.iloc[i,0]
        L_NP0.append(auteur)
print("nombre d'auteurs ayant entre 2 et 40 occurences dansIdRef : ",len(L_NP40))

print("nombre d'auteurs ayant 1 seule occurence dansIdRef : ",len(L_NP1))

print("nombre d'auteurs ayant 0 occurence dansIdRef : ",len(L_NP0))

print("nombre d'auteurs + de 40 occurencs dansIdRef : ",len(L_NPover40))

print("\n\n\n")

print("liste des auteurs ayant entre 2 et 40 occurences dans IdRef",L_NP40)
print("\n\n")
print("liste des auteurs ayant 1 seule occurence dans IdRef",L_NP1)
print("\n\n")
print("liste des auteurs ayant 0 occurence dans IdRef",L_NP0)
print("\n\n")
print("Liste des auteurs + de 40 occurencs dansIdRef : ",L_NPover40)

nombre d'auteurs ayant entre 2 et 40 occurences dansIdRef :  147
nombre d'auteurs ayant 1 seule occurence dansIdRef :  106
nombre d'auteurs ayant 0 occurence dansIdRef :  373
nombre d'auteurs + de 40 occurencs dansIdRef :  35




liste des auteurs ayant entre 2 et 40 occurences dans IdRef {'AHMED (E.)': 15, 'ALLAIN (Jacques)': 5, 'ARIAS (J.)': 7, 'ARROUX': 2, 'AUBERT (P.)': 4, 'AUGÉ (J.)': 2, 'BALFOUR (A.)': 3, 'BARTET()': 13, 'BASILE (C.)': 3, 'BÉCLÊRE': 4, 'BEGUET()': 18, 'BENOIT-GONIN': 9, 'BETTENCOURT (A.)': 3, 'BIZARD': 27, 'BLANC (G.)': 12, 'BLANC (GEORGES)': 14, 'BLANCHARD (Camille)': 2, 'BLANCHARD (M.)': 10, 'BONNET (A.)': 11, 'BOTREAU-ROUSSEL': 6, 'BOUFFARD (Gustave)': 2, 'BOUTIN (P.)': 2, 'BRAULT (J.)': 3, 'BRUN (G.)': 2, 'CALMETTE (A.)': 2, 'CASTELLANI (A.)': 3, 'CHATTON (Edouard)': 2, 'CIUCA (M.)': 2, 'CLAPIER': 24, 'COLLIN (L.)': 6, 'COMTE (C.)': 30, 'CONOR (A.)': 2, 'CORDIER (E.)': 3, 'COUTEAUD': 4, 'COUTO (M.)': 5, 'CUENOD (A.)': 2, 'DANG VAN CUONG': 30, 'DE MOUZON': 5, 'DEVY': 22, 'DORE (G.)': 3, 'DU BOURGUET': 7, 'DUBOIS (A.)': 20, 'DUMAS (R.)': 4, 'EMILY (J.)': 11, 'FABRE (HENRI)': 21, 'FLEURY (A.)': 10, 'FLOURENS': 19, 'FOLEY (H.)': 2, 'GAUTHIER (F.)': 4, 'GÉRARD (P.)': 38, 'GRENIER (M.)': 3, 'GUYOMARC’H': 27, 'HARTMANN (CHARLES)': 4, 'HAYAT (A.)': 2, 'HENRY (V.)': 31, 'HOVASSE': 14, 'JOLLY (R.)': 2, 'LACASSAGNE (A.)': 2, 'LACROIX (A.)': 15, 'LAFONT (A.)': 5, 'LAMBERT (G.)': 10, 'LAMBERT (P.)': 10, 'LANDES (L.)': 3, 'LAPIN': 38, 'LAUNOY()': 13, 'LAURENT (A.)': 37, 'LEFROU ()': 5, 'LEGENDRE (J.)': 3, 'LEGER (A.)': 9, 'LEGER (MARCEL)': 4, 'LEMAIRE (G.)': 6, 'LESAGE (A.)': 3, 'LEVY (E.)': 16, 'MACHADO (A.)': 12, 'MANTOVANI (M.)': 2, 'MARCHETTI (C.)': 2, 'MARTIN (Gustave)': 11, 'MARTIN (Noël)': 16, 'MARTINEZ (F.)': 16, 'MARTY (L.)': 9, 'MASSON (P.)': 3, 'MAUCLAIRE': 11, 'MCINTOSH (J.)': 5, 'MERCIER (L.)': 16, 'MIRAMOND DE LA ROQUETTE': 3, 'MONTGOMERY (E.)': 11, 'MOORE (A.)': 38, 'MOREAU (L.)': 24, 'MOUCHET (R.)': 2, 'MURAZ()': 9, 'NICLOT': 16, 'NICOLAS (CH.)': 5, 'NICOLAS (E.)': 25, 'NICOLLE (CHARLES)': 3, 'NICOLLE (M.)': 2, 'NIMIER': 9, 'ORTHOLAN': 6, 'PARROT (L.)': 2, 'PARVU': 10, 'PASTEUR VALLERY-RADOT(Louis)': 2, 'PELLETIER (J.)': 4, 'PETIT (G.)': 16, 'PIOT (A )': 3, 'PIRAJA DA SILVA': 2, 'PLANTIER (A.)': 2, 'PONS (C.)': 5, 'POROT (A.)': 2, 'PRIMET()': 9, 'RAVAUT()': 11, 'RAYNAUD (L.)': 3, 'RAYNAUD (M.)': 3, 'RIEUX (J.)': 3, 'RIGOLLET()': 38, 'ROBERT (Léopold)': 11, 'ROBLES (R.)': 2, 'RODET (A.)': 2, 'ROUSSEAU (L.)': 17, 'ROUSSEAU (Paul)': 16, 'ROUX (É.)': 8, 'ROUX (G.)': 8, 'ROW (R.)': 4, 'RUDOLPH (M.)': 12, 'SALMON (P.)': 7, 'SALOMON (E.)': 5, 'SALVESTRONI': 3, 'SERGENT (EDMOND)': 2, 'SERGENT (ETIENNE)': 2, 'SOREL (F.)': 2, 'SURCOUF (J.)': 2, 'TOUIN()': 4, 'TOURNIER (E.)': 2, 'TRAUTMANN (R.)': 2, 'TRILLAT()': 24, 'URBAIN (G.)': 4, 'VAILLARD': 10, 'VALLET (G.)': 2, 'VAN DEN BRANDEN (F.)': 19, 'VIENNE (M.)': 6, 'VIGNE (P.)': 2, 'VILLENEUVE (J.)': 2, 'VINCENT (H.)': 29, 'WAGON': 15, 'WEINBERG (M.)': 4, 'WITH': 21, 'YVON (P.)': 4, 'ZABOLOTNY': 2, 'ZUCCARELLI': 25}



liste des auteurs ayant 1 seule occurence dans IdRef ['ANFREVILLE (Léon D’)', 'ARLO (J.)', 'BALOZET (L.)', 'BARROIS (TH.)', 'BARTET (A.)', 'BAUCHE (J.)', 'BAZIN (R.)', 'BELLET (E.)', 'BELLEVAL (G.)', 'BERTRAND (Louis-Edmond)', 'BILLET (A.)', 'BLANCHARD (Raphael)', 'BORGES (I.)', 'BOTELHO (C.)', 'BOUCHER (Humbert)', 'BOUIN (A.)', 'BRUMPT (Emile)', 'BUSSIERE (A.)', 'BUSSIERE (F.)', 'CADET (G.)', 'CAILLE (E.)', 'CAMPUS (A.)', 'CANTACUZÈNE (J.)', 'CLAIR (F.)', 'CONOR (M.)', 'DANYSZ (J.)', 'DE BRUN (H.)', 'DESCAZEAUX (J.)', 'DONATIEN (A.)', 'DOPTER (CH.)', 'DUCHAMP (J.-C.)', 'EYRAUD (A.)', 'EYRAUD (R.)', 'FEYTAUD (J.)', 'FOSSEY (A. M. DE)', 'FRANCHINI (G.)', 'FROILANO DE MELLO()', 'GALASESCO()', 'GAMBIER (A.)', 'GENDRE (E.)', 'GERY (L.)', 'GILRUTH (J.A.)', 'GROS (H.)', 'HAVET (J.)', 'HOUSSIAU (J.)', 'JAMOT (E.)', 'JOUIN (A.)', 'JOUVEAU-DUBREUIL (H.)', 'JOYEUX (CH.)', 'KOPKE (A)', 'LACAZE (H.)', 'LAGRANGE (E.)', 'LAMOUREUX (A.)', 'LANFRANCHI (ALESSANDRO)', 'LANGERON (MAURICE)', 'LANZENBERG (A.)', 'LAVERAN (Alphonse)', 'LE DANTEC (A.)', 'LECOMTE (A.)', 'LECOMTE (A.)', 'LEMAIRE (H.)', 'LEMOINE (G.H.)', 'MACIEL (J.)', 'MANSION (J.)', 'MARCHOUX (Emile)', 'MARTIAL (R.)', 'MARULLAZ (M.)', 'MASSOL (L.)', 'MATHIS (C.)', 'MATHIS (C.)', 'MICHELI (M.)', 'MONOD (TH.)', 'MONTEL (Marie-Louis-René)', 'MONTPELLIER (J.)', 'MOTAIS (FRANÇOIS)', 'MOTY (F.)', 'MUSSO (L.)', 'MUSSO (L.)', 'NOVY (F.G.)', 'PARROT (A.)', 'PEDROSO (A.)', 'PÉJU (G.)', 'PHISALIX (MARIE)', 'PICARD (F.)', 'POUJOL (J.)', 'POUPELAIN()', 'PUYHAUBERT(Alfred)', 'RAILLIET (A.)', 'REGNAULT (F.)', 'REMY (F. J.)', 'ROIG (G.)', 'ROUBAUD (E.)', 'SALIMBENI (A.T.)', 'SAMBON (L.)', 'SCHAUMANN (H.)', 'SIMONIN (J.)', 'SORIA (P.)', 'SWELLENGREBEL (N.-H.)', 'TEPPAZ (L.)', 'TROUSSAINT()', 'ULBRICH (H.)', 'VAILLANT (L.)', 'VAN HOOF (L.)', 'VELU (A.)', 'VIGUIER (A.)', 'WYDOOGHE (J.)']



liste des auteurs ayant 0 occurence dans IdRef ['ACHALME (P.)', 'ADDE (R.)', 'ALARY (A.)', 'ANDREANI-CONSTANTINI (MME)', 'ARAVANDINOS (A.)', 'ARDOIN (E.)', 'ARGAUD (R.)', 'ARZT (L.)', 'ATHIAS (G.)', 'AUDAIN (L.)', 'BABAULT (G.)', 'BACMANN (A.)', 'BAUJEAN (R.)', 'BAUVALLET (H.)', 'BAYEUX (R.)', 'BEAUJEAN (R.)', 'BEGUET (M.)', 'BEKENSKY (P.W.)', 'BELITZER (A.W.)', 'BENAZET (L.)', 'BEQUAERT (J.)', 'BERNARD (P. NOËL)', 'BIENASSIS (E.)', 'BIJON (R.)', 'BILLIEMAZ (A.)', 'BIOT (R.)', 'BLAIZOT (L.)', 'BLANQUIER (H.)', 'BLIN (G.)', 'BONAIN (C.)', 'BONNEFAY()', 'BOQUET (A.)', 'BORIES (L.)', 'BORREL (A.)', 'BOSSAVY (F.)', 'BOUET (G.)', 'BOUILLIEZ (M.)', 'BOUQUET (H.)', 'BOURRAGUÉ (N.)', 'BOURRET (G.)', 'BOUVIER (J.E.)', 'BRAU (P.)', 'BRÉMONT (E.)', 'BRESSON (P.)', 'BRIDRE (J.)', 'BRIMONT (E.)', 'BROCHARD (V.)', 'BRODEN (A.)', 'BROQUET (C.)', 'BROQUET (CH.)', 'BRUCH (A.)', 'BRUG (S.-L.)', 'BRUYANT (L.)', 'CAIUS (R.P.F.)', 'CALINESCU (J.)', 'CAMBILLET', 'CAMINOPETROS (JEAN)', 'CARDAMATIS (J.P.)', 'CARDEW (A.G.)', 'CARINI (A.)', 'CARONIA (G.)', 'CATOUILLARD (G.)', 'CAUCHEMEZ (L.)', 'CAZALBOU (L.)', 'CAZENEUVE (Henri-Joseph)', 'CELLIER (M.)', 'CERTAIN (B.)', 'CHAGAS (C.)', 'CHALMERS (A.J.)', 'CHANTEMESSE (A.)', 'CIUCA (A.)', 'CLAPIER (N.)', 'CLAPIER (P.)', 'CLAPIER. (P. N.)', 'CLARENC (H.)', 'COLOMBIER (P.)', 'COMMES (CH.)', 'CONSEIL (E.)', 'CORIN (G.)', 'CORTESI (A.)', 'COUENDI (M.)', 'COUREUR (CH.)', 'COUVY (L.)', 'COUVY(L.)', 'CREMER (J.)', 'CRESPIN (J.)', 'CROVERI (P.)', 'CROWELL (P.-C.)', 'CURASSON (G )', 'CURASSON (G.)', 'D’HÉRELLE (F.)', 'DA MATTA (A.)', 'DALLE (M.)', 'DARLING (S.T.)', 'DE BERGEVIN (E.)', 'DE GOYON (J.)', 'DE VALLANDÉ (H.)', 'DEADERICK (W. H.)', 'DEFRESSINE (C.)', 'DEGOUILLON ()', 'DEGREEF (G.)', 'DELAMARE (G.)', 'DEMIDOFF (A.-P.)', 'DENARNAUX (P.)', 'DENAVELLE (P.)', 'DENIER (A.)', 'DERRIEU (G.)', 'DI CRISTINA (G.)', 'DISTASO (A.)', 'DOMINICI-URBANI (CH.)', 'DOREAU (P.)', 'DUBRUEL (C.M.E.)', 'DUKODGEHÉ (W.)', 'DUPONT (V.)', 'ESCOMEL (E.)', 'ESPÉRANDIEU (G.)', 'ESQUIER (A.)', 'FANTHAM (H. F.)', 'FINZI (G.)', 'FIORI (C.)', 'FONTOYNONT (M.)', 'FRANÇA (C.)', 'FRONVILLE (G.)', 'GABBI (U.)', 'GAIDE (L.)', 'GASPERI (F. DE)', 'GASTOU (P.)', 'GAUDUCHEAU (A.)', 'GEDOELST (L.)', 'GILLOT (V.)', 'GOBERT (E.)', 'GONZALEZ MARTINEZ (I.)', 'GONZALEZ-LUGO', 'GOUILLON (P.)', 'GOUZIEN (P.)', 'GRALL (CH.)', 'GRANJUX (E.)', 'GRAY (A.C.H.)', 'GREGGIO (Père G.)', 'GRIEWANK (H.)', 'HECKENROTH (F.)', 'HEMPL (H.)', 'HEYMANN (P.)', 'HINDLE (EDW.)', 'HOUSSAY (B.A.)', 'HUDELLET (G.)', 'HUSNOT (P.)', 'IMAN (T.)', 'ISMERT (R.)', 'IWANOFF (Z.A.)', 'JANNOT (A.)', 'JAVELLY (E.)', 'JEANSELME (E.)', 'JEMMA (R.)', 'JOJOT (CH.)', 'JOUKOWSKY (A.)', 'JOYEUX (C.)', 'KARPOFF (A.N.)', 'KÉRANDEL (J.)', 'KERMOGANT (Alexandre)', 'KERMOGANT (Alexandre)', 'KERNÉIS (J.)', 'KERVRANN (P.)', 'KIWTET DE JONGE (G.-H.)', 'KOBNILOFF (M.-I.)', 'KOHL-YAKIMOFF (Nina)', 'KOLPAKOFF (F.-A.)', 'KOLPAKOFF (T.-A.)', 'KORNILOFF (M.-T.)', 'KOSELKINE (P.-M.)', 'KOULECHIA', 'KOUN (L.)', 'KROLUNITZKI (G.)', 'LA CAVA (F.)', 'LABONNOTTE (X.)', 'LAGANE (L.)', 'LAGRIFFOUL (A.)', 'LALUNG-BONNAIRE (P.)', 'LAPIN (J.)', 'LARROUSSE (F.)', 'LAVEAU (M.)', 'LAVIER (G.)', 'LE DENTU (A.)', 'LE GALLEN (R.)', 'LEBAILLY (CH.)', 'LEBŒUF (A.)', 'LEDOUX (ED.)', 'LEDUC (H.)', 'LEGRAS (S.)', 'LEGROUX (R.)', 'LETULLE (M.)', 'LEVADITI (C.)', 'LIGNIÈRES (J.)', 'LIGNOS (A.)', 'LINDENBERG (A.)', 'LOSTIE (L.)', 'MACIEL (J.-J.)', 'MANAUD (A.)', 'MANCEAUX (L.)', 'MANDOUL (H.)', 'MANGENIE (S -E.)', 'MANSION (G)', 'MARCANDIER (A.)', 'MARQUE (J.-M.)', 'MARZINOWSKY (E.-I.)', 'MARZINOWSKY (E.-J.)', 'MATHON (CH.)', 'MATIGNON (J.-J.)', 'MATIGNON (J.J.)', 'MATTE (E.)', 'MEIRELLES (Z.)', 'MELISSIDIS (A.)', 'MELLO (U.)', 'MESINCESCU (D.)', 'MESLIN (CH.)', 'MESLIN (R.)', 'MESNIL (F.)', 'MICHAILIDIS (N.)', 'MIGLIANO (L)', 'MIGONE (L.-E.)', 'MITTER (S.N.)', 'MOLDOVAN (J.)', 'MONFORT (F.)', 'MONTFORT (F.)', 'MONTHUS (A.)', 'MORAX (V.)', 'MORIN (G.-H )', 'MORSLY (T.)', 'MOTAS (C. S.)', 'MOUZELS (P.)', 'MUNOZ (FERNANDO R )', 'MUTERMILCH (ST.)', 'NEWSTEAD (R.)', 'NICLOT (F.)', 'NOC (F.)', 'NOGUE (M.)', 'NOWIKOFF (P.A.)', 'NUTTAL (H. F.)', 'O’ZOUX (L.L.)', 'OLDT (F.)', 'OLIVEAU (A.)', 'ORTICONI (A.)', 'ORTICONI (L)', 'OUZILLEAU (F.)', 'PAISSEAU (G.)', 'PAMARET()', 'PARANHOS (U.)', 'PARFENTJEV ()', 'PAROÏSKY (P.S.)', 'PATTON (W.S.)', 'PAUCOT (M.)', 'PÉCAUD (G.)', 'PEKKOLA (W.)', 'PETTIT (A.)', 'PEZET (O.)', 'PHINGAULT (E.)', 'PHIPPS (F.-E.)', 'PHOTINOS (GEORGES-TH.)', 'PHOTINOS (S.)', 'PIGNET (M.)', 'PINOY (E.)', 'PIOT-BEY (J.-B.)', 'POIRSON (H.)', 'PONS (R.)', 'PORRY (E.)', 'POTTEVIN (H.)', 'PRATES (M.M.)', 'PRIMET (E.)', 'PRINGAULT (E.)', 'QUARELLI (G.)', 'RAVAUT (P.)', 'REMLINGER (P.)', 'RÉPIN (CH.)', 'RHODAIN (J.)', 'RISQUEZ (J.-R.)', 'RIZZUTI (G.)', 'ROBERT (M.J.F.)', 'ROBLEDO (E.)', 'ROCQUES (X.)', 'RODHAIN (J.)', 'ROMANOVITCH (M.)', 'ROSS (PH. H.)', 'ROUDSKY (D.)', 'ROUFFIANDIS (V.)', 'RUBINSTEIN (MLLE)', 'RUDRER', 'RUSSO (C.)', 'RYCKEWAERT (P.)', 'SACEGHEM (R. VAN)', 'SACQUEPEE (E.)', 'SAKOWITSCH (S.J.)', 'SALM (A.-G.)', 'SALM (A.J.)', 'SANI (LUIGI)', 'SANLORENZO (F.)', 'SANZ (B.)', 'SAPHRONOWITSCH (R.A.)', 'SAPORTE (F.)', 'SARRAILHE (A.)', 'SAUVET (CH.)', 'SCHEIN (HENRI)', 'SCHIESS (J.-R.)', 'SCHIRWIND (S.)', 'SCHNEIDER (G.E.)', 'SCHNEIDER (J. E. J.)', 'SCHOKHOR (N.-J.)', 'SCHWETZ (J.)', 'SCORDO (F.)', 'SCOTT (W.-M.)', 'SEGUIN (DQ)', 'SÉGUINAUD (J.)', 'SEGUY (E.)', 'SENEVET (G.)', 'SERGENT(ÉT.)', 'SIMOND (P.-L.)', 'SKRJABIN (K.-J.)', 'SLATINEANO (A.)', 'SMILLIE (WILSON G.)', 'SOLOWZOFF (A.-S.)', 'SOULIÉ (H.)', 'SPAGNUOLO (V.)', 'SPENCER (D.-B.)', 'SPLENDORE (A.)', 'STANESCO (V.)', 'STEFKO (W.)', 'STÉVENEL (L.)', 'STRONG (R.P.)', 'SULDEY (E.-W.)', 'SWAMINATH (G. S.)', 'TASHIM (Ibrahim)', 'TEISSONNIERE (M.)', 'TEJERA (E.)', 'TENDRON (E.)', 'TEPPAZ (A.)', 'THEILER (A.)', 'THÉZÉ (J.)', 'THIROUX (A.)', 'THOMSON (D.B.)', 'TODD (JOHN -L.)', 'TOURNAIRE (P.)', 'TOURNIER (ELIE)', 'TRIBAUDEAU (J.)', 'TRIBONDEAU (L.)', 'TRIBOUT (A.)', 'TROUETTE (G.)', 'VAN SACEGHEM (R.)', 'VANDENBRANDEN (F.)', 'VASSAL (J.J.)', 'VEILLON (A.)', 'VELU (H.)', 'VERDUN (P.)', 'VERNES (A.)', 'VIALATTE (C.)', 'VIALATTE (CH )', 'VIOLLE (H.)', 'VIOLLE (R.)', 'VISENTINI (A.)', 'VON KNAFF-LENZ (E.)', 'WACON (P.)', 'WAGON (P.)', 'WASSILEWSKY (W.J.)', 'WENIAMINOFF (S.D.)', 'WINOGRADOFF (A.A.)', 'WINOGRADOFF (W.W.)', 'WURTZ (R.)', 'YAKIMOFF (A.-S.)', 'YAKIMOFF (W -L )', 'YAKOBLEW', 'YAMANOUCHI (T.)', 'YERSIN (A.)', 'YOFÉ (H.)', 'YVERNAULT (A.)', 'ZAMMIT (TH.)']



Liste des auteurs + de 40 occurencs dansIdRef :  {'ANTOINE': 11878, 'BADER': 202, 'BAZIN': 392, 'BODET': 78, 'BROQUET()': 41, 'CASTEL()': 327, 'COT()': 57, 'DANIEL (G.)': 83, 'DAVID': 29017, 'DELRIEU': 63, 'FAUQUET': 62, 'GIOVANNI DI DONIZIO()': 255, 'GIRARD': 1606, 'GRENIER()': 406, 'HENRY (A.)': 160, 'HUET': 544, 'ISAMBERT': 50, 'JOUENNE': 46, 'LOMBARD()': 434, 'MARIN()': 1246, 'MARTIN (Louis) ': 151, 'MONNIER': 569, 'NEVEUX': 69, 'R. ASSEO)': 29070, 'RICHARD (G.)': 244, 'ROBERT': 29200, 'ROBIN': 2702, 'ROBLIN': 80, 'RODRIGUEZ': 4226, 'ROSENBAUM': 136, 'SALOMON': 810, 'VALLIN': 81, 'VILLENEUVE': 375, 'VINCENT': 10124, 'VIVIEN': 422}

In [32]:
####### Exploration + détaillée de ceux qui ont 1 seule occurence

dfNP1_occ=pd.DataFrame(L_NP1)
dfNP0_occ=pd.DataFrame(L_NP0)
dfNP40_occ=pd.DataFrame.from_dict(L_NP40,orient='index')
dfNPover40_occ=pd.DataFrame.from_dict(L_NPover40,orient='index')

In [34]:
dfNP40_occ.describe()

                0
count  147.000000
mean     9.340136
std      9.150564
min      2.000000
25%      3.000000
50%      5.000000
75%     13.000000
max     38.000000

In [ ]:
df_NP=df_contributeurs.groupby(by="NOM (Prenom)").count()

In [ ]:
df_NP

### A) Pour l'url "générale"

In [ ]:
#Le maximum d'occurences d'un même nom est de 99.061
#On  535 noms de personnes qui n'apparaissent pas dans IdRef

print("le maximum d'occurences pour un même url IdRef est : ",df_contributeurs["Recherche_G-nbr"].max())
df_G=df_contributeurs.groupby(by="Recherche_G-nbr").count()

In [ ]:
df_G.sort_values(by="NOM")
df_G.sort_index ## ON voit que seuls 90 noms parai

In [ ]:
df_G.describe()

In [ ]:
df_G_zero=df_contributeurs.loc[df_contributeurs["Recherche_G-nbr"] == "0"]

df_G_zero

In [ ]:
#Nbr d'absence d'occurence:
df_G_zero.size #300 / 1500

In [ ]:
df_G.count(0)

In [ ]:
df_G

In [ ]:
df_G.plot.hist()

### B) Pour l'url "NOMPrenom"

In [ ]:
groups = df_contributeurs.groupby(by="Recherche_NomPrenom-nbr").count()
print(type(groups))

In [ ]:
groups.value_counts
#Seulement 69 types d'occurences différentes

In [ ]:
groups.iloc[2,1]